@mixin sticky-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
} 
@mixin flexbox ($flex, $center, $space) {
    display: $flex;
    align-items: $center;
    justify-content: $space;
}
@mixin linkstyle {
    color: #4F5665;
    font-size: 16px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@mixin link-hover {
    color: #f53838;
    transition: 0.3s ease-in-out;
}
@mixin link-btn-hover {
    background-color: #f53838;
    color: #fff;
    border: 1px solid #f53855;
    transition: 0.3s ease-in-out;
}
// @mixin link-btn2-hover {
    //     background-color: #fff;
    //     color: #f53838;
    //     border: 1px solid #f53855;
    //     transition: 0.3s ease-in-out;
    // }
    @mixin link-btn {
        display: block;
        width: 178px;
        margin: 0 auto;
        padding: 13px;
        text-align: center;
        border-radius: 50px;
        border: 2px solid #f53838;
        color: #f53838;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        transition: color 0.3s ease-in-out , background-color 0.3s ease-in-out , box-shadow 0.3s ease-in-out;
    }
    @mixin title {
        color: #0b132a;
        font-weight: 500;
    }
    @mixin description {
        line-height: 30px;
        font-size: 16px;
        font-weight: 400;
        color: #4F5665;
    }
    @mixin button-link {
        width: 250px;
        display: block;
        text-align: center;
        padding: 18px;
        border-radius: 10px;
        background: #f53838;
        color: #fff;
        font-size: 16px;
        line-height: 25px;
        font-weight: 700;
    }