@use "../mixins" as m ;
.choose {
    padding-top: 80px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0.00) 100%);
}
.choose__title {
    @include m.title ;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}
.choose__desc-box {
    max-width: 555px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}
.choose__desc {
    @include m.description ;
}
.choose__list {
    @include m.flexbox(flex, stretch, space-evenly)
}
.choose__item {
    max-width: 330px;
    width: 100%;
    padding: 80px 70px 50px 70px;
    border-radius: 10px;
    border: 2px solid #ddd;
    background: #fff;
    transition: border 0.3s ease-in-out;
}
.choose__item:hover {
    border: 2px solid #F53838;
}
.choose__item:hover .choose__link {
    background-color: #f53838;
    color: #fff;
    box-shadow: 0px 17px 27px 6px rgba(245,56,56,0.35);
    -webkit-box-shadow: 0px 17px 27px 6px rgba(245,56,56,0.35);
    -moz-box-shadow: 0px 17px 27px 6px rgba(245,56,56,0.35);
}
.choose__item::before {
    content: "";
    display: block;
    width: 145px;
    height: 165px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url(../../images/choosebefore.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.choose__sub-title {
    @include m.title ;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.choose__sub-item {
    display: flex;
    align-items: center;
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
.choose__sub-item::before {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 20px;
    background-image: url(../../images/check.svg);
    background-repeat: no-repeat;
}
.choose__sub-item:not(:last-child) {
    margin-bottom: 10px;
}
.choose__pay-st {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.choose__pay-st--1 {
    margin-top: 130px;
}
.choose__pay-st--2 {
    margin-top: 90px;
}
.choose__strong {
    display: inline-block;
    font-size: 25px;
}
.choose__link {
    @include m.link-btn ;
}
.choose__link:hover {
    background-color: #f53838;
    color: #fff;
    box-shadow: 0px 17px 27px 6px rgba(245,56,56,0.35);
    -webkit-box-shadow: 0px 17px 27px 6px rgba(245,56,56,0.35);
    -moz-box-shadow: 0px 17px 27px 6px rgba(245,56,56,0.35);
}

